<!DOCTYPE html>
<!--veiw/-->

<head>
<meta charset="UTF8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<title>TinyApp</title>

</head>

<body style="font-size: 20px; padding: 50px;">
    <h1> short URL </h1>
    <H4> <%- include('partials/_header.ejs') %></H4>
 
   
   
 <ul> <% for (var shortURL in urls) {%>
   
    
    <li><%= shortURL %> From <%= urls[shortURL] %> </li>
    <form method="POST" action=<%= `/urls/${shortURL}/delete ` %>>
       <button type="delete" class="btn btn-primary">DELETE</button>
       <a href="/urls/<%= shortURL %>"> Edit</a>
      
    </form>
      
    <%}%>

</ul>

<h2></h2>
</body>


<!-- <ul><% for (let key in urls) {%>
   
   
    <li><a href = "#"> <%=  urls[key] %></a></li>  
   
    <%}%>
</ul> -->