<!DOCTYPE html>

<head>
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <title>TinyApp</title>
    <header>




    </header>

</head>

<body style="font-size: 20px; padding: 50px;">

<div id="body" >
    <!-- <h1>TinyURL App</h1> -->
    <H4> <%- include('partials/_header.ejs') %></H4>
    <h1>ShortURL</h1>
    <li>
    <b>     <%= shortURL %> : </b>
    <div> <a href="http://localhost:8080/u/<%= shortURL %>"> <%= longURL %> </a></div>
    </li>
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    
    <form method="POST" action="/urls/update/<%= shortURL %>">  
    <input class="form-control" type="text" name="longURL" placeholder="www." style="width: 300px; margin: 1em">
    <button type="submit" class="btn btn-primary">Update...</button>

</form>
</div>

</body>